html,body {  
	min-height:100%;  
	height:100%;  
}

#app, .app-wrap{
	height:100%;  
}

.signin-wrapper {
	height:100%;  
	margin: 0px;
	.signin {
		height:100%;  
	}
	.content {
		height:100%;  
		background: url('../images/notepad.jpg') left bottom no-repeat #F9FC73;
		background-size: contain;
    background-blend-mode: overlay;
	}
}

.signup-wrapper {
	height:100%;  
	.signup {
		height:100%;  
	}
	.content {
		height:100%;  
		background: url('../images/notepad.jpg') left bottom no-repeat #F9FC73;
		background-size: contain;
    background-blend-mode: overlay;
	}
}